body{
	font-family: 'Lato', sans-serif;
	background-image: url('../images/background.jpg');
	color: #191a1e;
    background-size: 100vw;
}
.container-options{
    width: 60%;
    margin: auto;
    box-shadow: 7px 10px 10px rgba(0, 0, 0, 0.3);
}

.hr-line{
    position: relative;
    height: 1px;
    background: black;
}
.place-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.row-div{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 2px 0px;
}
.small-container{
    background-color: rgb(205, 205, 248);
    width: 130px;
    height: 40px;
    border-radius: 7px;
    padding: 2px 7px;
}
.key{
    font-size: 13px;
    text-transform: capitalize; 
}
.value{
    font-size: 17px;
}

.flight-container{
    width: 60%;
    margin: auto;
    /* box-shadow: 7px 10px 10px rgba(0, 0, 0, 0.3); */
}
.top-info-box{
    background-color: rgb(229, 227, 227);
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 7px 10px 10px rgba(0, 0, 0, 0.3);
}

.flight-row{
    background-color: rgba(255, 255, 255, 0.712);
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.book-btn{
    background-color: rgb(96, 96, 255);
    border: 1px solid black;
    border-radius: 17px;
    font-size: 16px;
    padding: 5px 10px;
    color: white;
    font-weight: bold;
}
.timer{
    width: 16px;
    margin-left: 20px;
}
.go-back{
    width: 60%;
    margin: auto;
    background-color: white;
}
.go-back button{
    width: 100%;
    padding: 6px 10px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(96, 96, 255);
}
.go-back a{
    text-decoration: none;
    color: white;
}